.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 82px;
  z-index: 200;
  padding-top: 25px;
}

.sidebar-link {
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(226, 223, 223);
}

.sidebar-link img {
  height: 32px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-size: 11px;
}